/*
* Title: Tastal
* Author: Aldasoro
* Template: Tastal React
* Version: 0.2.2
* Copyright 2023 Aldasoro Inc.
* Url: https://www.tastal.ml


Content table
--------------
1. Register


/* ----- 1. Register ----- */
.register-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    position: relative;
    z-index: 1;
  }
  .left-side{
    width: 50%;
    height: 100vh;
    background: url('https://source.unsplash.com/featured/?food');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#dcdcdc;
  }
  @keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
  }
  .franja-left{
    width: 100%;
    text-align: center;
  }
  .logo-register{
    width: 100%;
    margin-top: 40vh;
  }
  .logo-register img {
    width: 250px;
    -webkit-filter: drop-shadow(0px 0px 15px #000);
    filter: drop-shadow(0px 0px 15px #000); 
  }
  .right-side{
    width: 50%;
    box-shadow: inset 1px 0 #e3e8ee;
    background-color: #fff;
    height: 100vh;
  }
  .franja-right{
    width: 40%;
  }
  .box-register{
    text-align: left;
    color: #333;
    font-size: 24px;
    margin-left:60px;
    margin-top:90px;
  }
  .box-register > .footer{
    margin-top:200px;
  }
  .terms{
    position:relative;
    color: #999;
    font-family: 'Segoe UI', 'Roboto','Helvetica','Myriad Set Pro','Lucida Grande','Helvetica Neue','Helvetica','Arial','Verdana',serif;
    font-size: 13px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .terms a{
    color:#666; 
  }
  .terms input[type="checkbox"]{
    height:15px;
    display: inline-block;
    position: relative;
    width:auto;
    margin-right: 15px;
    top:3px;
  }